/* sign up form section */
.signup__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg);
    font-family: var(--font-phara);
    color: var(--color-golden);
}
/* signup form header */
.signup__form_h {
    font-family: var(--font-heading);
    margin-bottom: 2rem;
    margin-top: 4rem;
    color: var(--color-white);
}

/* signup form input list */

.signup__form_input{
    font-size: 1rem;
    font-weight: 400;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/* sign up form list item */
.form__list_item{
    margin-bottom: 1.5rem;
}
/* signup form input labels */
.form__label {
    display: block;
}
/* signup form input fields */
.form__input_field {
    display: block;
    border: 1px solid var(--color-golden);
    border-radius: 5px;
    color: var(--color-golden);
    width: 18rem;
    height: 2.3rem;
    padding: 0.6rem;
}
/* signup form submit button   */
.form__btn {
    display: block;
    width: 15rem;
    height: 2rem;
    margin-bottom: 0.5rem;
    border: none;
    border-radius: 5px;
    color: var(--color-black);
    background-color: var(--color-golden);
    font-family: var(--font-phara);
    font-size: 0.9rem;
    font-weight: bold;

}
/* signup form submit button hover effect */
.form__btn:hover {
    background-color: rgb(255, 145, 0);
}
/* already have an account pharagraph */
.signup__form_p {
    margin-bottom: 2rem;
    color: var(--color-white);
}
/*  link in already have an account pharagraph to login */
.signup__form_p_a {
    color: var(--color-golden);
    text-decoration: none;
}
/* hover effect */
.signup__form_p_a:hover {
    color: rgb(255, 145, 0);
  }