/* main section */
.ourteam__section {
  background-image: url(../../assets/images/ourteambg.jpg);
  padding: 4rem 0;

}
.ourteam__section_header {
  text-align: center;
  font-family: var(--font-heading);
  color: var(--color-golden);
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}
.ourteam{
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;

}
/* css for three div inside a main section */
.ourteam__card {
  display: flex;
  flex-direction: column;
  width: 14rem;
  height: 22rem;
  background-color: var(--color-black);
  border: 1px rgb(53, 53, 53) solid;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.719);
}
.ourteam__center_card {
  display: flex;
  flex-direction: column;
  width: 17rem;
  height: 27rem;
  background-color: var(--color-black);
  border: 1px rgb(53, 53, 53) solid;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.719);
}

.ourteam__card_image {
  background-image: url(../../assets/images/team.jpg);
  background-size: cover;
  background-position: center;
  padding: 2px;
  height: 50%;
  border: none;
  border-radius: 0 0 10px 10px ;
}

.ourteam__card_text{
  padding: 10px;
}
.ourteam__center-card_h {
  padding-top: 8px;
  font-family: var(--font-heading);
  color: var(--color-golden);
  font-size: 1.5rem;
  font-weight: bold;
}
.ourteam__card_h {
  padding-top: 8px;
  font-family: var(--font-heading);
  color: var(--color-golden);
  font-size: 1.2rem;
  font-weight: bold;
}

.ourteam__center-card_p {
  padding-top: 9px;
  font-family: var(--font-phara);
  color: var(--color-white2);
  font-weight: 400;
  font-size: 1rem;
  line-height: 125%;
}
.ourteam__card_p {
  padding-top: 6px;
  font-family: var(--font-phara);
  color: var(--color-white2);
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 125%;
}