/* main section */
.section {
  background-color: black;

}
/* css for three div inside a main section */
.section__container {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/* css for our team */
.section__title {
  text-align: center;
  color: var(--color-golden);
  font-weight: 600;
  font-size: 79px;
}

/* css for whole div */
.team__img {
  display: flex;
  flex-direction: column;
  width: 248px;
  border: 2px solid #e58f00;
  height: 400px;
  margin-top: 30px;
  margin-left: 70px;
}
/* css for the second div */
.team__img_second {
  display: flex;
  flex-direction: column;
  width: 248px;
  border: 2px solid #e58f00;
  height: 500px;
  margin-top: 30px;
  margin-left: 70px;
}
/* css for image  */

.bgimage {
  background-image: url(../../assets/images/team.jfif);
  width: 244px;
  height: 300px;
  background-size: cover;
}

/* css for name styling and font family */

.team__img_heading {
  padding-top: 8px;
  padding-left: 4px;
  font-family: var(--font-phara);
  color: var(--color-golden);
  font-weight: bold;
}

/* css for paragraph decription */

.team__img_phara {
  padding-top: 9px;
  padding-left: 4px;
  color: white;
  font-family: var(--font-phara);
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 125%;
}
