/* about section background image css */
.background_image {
  background-image: url(../../assets/images/imageabout.jpg);
  background-size: cover;
  
}
/* about section main div css */
.section__main {
  width: 90%;
  padding: 3rem 10rem;
}
/* about section header */
.section__main_h {
  font-family: var(--font-heading);
  font-size: 2.5rem;
  color: var(--color-golden);
  margin-bottom: 2rem;
}
/* about section desc */
.section__phara {
  font-size: 1.5rem;
  color: var(--color-white);
}
