/* footer section */
.footer{
    padding: 1rem;
    background-color: rgb(19, 19, 19);
    border-top: 1px solid rgb(48, 48, 48); 
}
/* footer section list */
.footer__item{
    display: flex;
    justify-content:space-around;
    list-style: none; 
    padding-bottom: 1rem;   
}
/* footer section header */
.footer__h{
    font-family: var(--font-heading);
    color: var(--color-white);
    font-size: 1rem;
    letter-spacing: 1.5px;
}
/* nested list in footer section list */
.footer__sub_list{
   padding: 0.5rem 0;
}
/* nested list items */
.sub__list_item {
    list-style-type: none;
    padding-left: 0px;
}
/* nested list item links */
.sub__list_link{
    font-family: var(--font-phara);
    color: var(--color-white2);
    font-size: 0.8rem;
    font-weight: normal;
    text-decoration: none;
    display: flex;
    align-items: center;
    white-space: 2px;
}
/* icons for social media and contacts in nested list link */
.footer__icon{
    margin-right: 3px;    
}
/* line between footer items and copyright section */
.footer__line{
    border: none;
    height: 1px;
    background-color: rgb(48, 48, 48);
}
/* copyright section */
.footer__copyright{
    font-family: var(--font-phara);
    color: var(--color-white2);
    text-align: center;
    font-size: 0.8rem;
    padding-top: 0.5rem;
}