
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&family=Poppins:wght@400;600&display=swap');

:root{
  --font-heading: 'Oswald', sans-serif;
  --font-phara: 'Poppins', sans-serif;

  --color-white: #FFFFFF;
  --color-white2: #c2c2c2;
  --color-black: #000000;
  --color-golden: #E58F00;
  --color-bg: #1D1D23;
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    
}