/* deals section */
.deals {
  width: 100%;
  background-color: var(--color-bg);
  list-style: none;
}

/* deal section deals card */
.deal {
  display: flex;
  height: 18rem;
  width: 80%;
  background-color: var(--color-black);
  margin: 2rem auto;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.719);
  border: 1px rgb(53, 53, 53) solid;
  border-radius: 15px;
}

/* deal card image  */
.deal__image {
  background-image: url(../../assets/images/deal.jpg);
  background-size: cover;
  background-position: center;
  width: 35rem;
  height: 17.87rem;
  border-radius: 15px;
}

/* deal card header */
.deal__header {
  font-family: var(--font-phara);
  color: var(--color-white);
  font-size: 1.5rem;
}

/* deal card text section */
.deal__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
}

 /* deal card deal/off text */
.deal__off {
  font-family: var(--font-heading);
  color: var(--color-golden);
  font-size: 4rem;
}

/* deal card deal details paharagraph */
.deal__desc {
  font-family: var(--font-phara);
  color: var(--color-white2);
  font-size: 1rem;

}

/* deal card button and price section*/
.deal__btn-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

/* deal card price */
.deal__price {
  font-size: 1.5rem;
  font-family: var(--font-heading);
  color: var(--color-golden);
}

/* deal card button */
.deal__btn {
  background-color: var(--color-golden);
  font-family: var(--font-phara);
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-black);
  padding: 0.3rem 1.2rem;
  border-radius: 10px;
}