/*  background color  */

.background__menu{
    background-color: black;
    height: 100vh;
}

/* .menu__section{
    display: flex;
} */

 /* change font-style fontweight of menu heading */

.menu__heading{
    text-align: center;
    font-family: var(--font-heading);
    font-weight: 600px;
    padding-top: 20px;
    color: #E58F00;
}
   /* set border color width and height   */
.section__label_border{
    align-content: center;
    display: flex;
    border: 2px dotted #E58F00;
    border-radius: 10px;
    width: 700px;
    height: 90px;
    /* margin-left: 295px; */
    margin: auto;
    justify-content: space-around;
}

   /* add style to label inside dotted border */
.section__label{
    background-color: white; 
    width: 50px;
    height: 50px; 
    /* margin-left: 40px; */
    margin-top: 20px;
    border-radius: 12px;
}

 
  /* set label text inside label */
.section__label p{
    text-align: center;
    margin: 13px;
    font-size: 11px;
    color: #E58F00;
}

  /* menu Heading  */
.menu__h{
    color:#E58F00;
    text-align: center;
    padding-top:10px;
    margin-top:30px;
    margin-bottom:30px;
    display: block;
    padding-bottom: 10px;
    font-family: var(--font-heading);
    font-weight: 600px;
}
/* menu width and height */
.image__section{
    background-color: white;
    width: 250px;
    height: 300px;
    margin-left: 160px;
    border-radius: 15px;
}
/* menu image */
.image{
    width: 246px;
    margin: 2px;
    height: 180px;
    background-image: url(../../assets/images/image.jpg);
    background-size:contain ;
    background-repeat:no-repeat;
    background-size: cover;
    border-radius: 14px;
}
/* menu image name */
.dish__name{
    padding-left: 4px;
    padding-top: 3px;
    color: var(--color-golden);
    font-family: var(--font-phara);
}

.dish__phara{
    padding-left: 4px;
    padding-top: 3px;
    font-size: 12px;
}
.menu__price{
    padding-top: 9px;
    display: flex;
    justify-content: space-between;
}
.menu__price_p{
    display: flex;
    margin-left: 6px;
    color: var(--color-golden);
   
}
.menu__price_btn{
  width: 16px;
  height: 18px;
  margin-right: 12px;
  color: var(--color-golden);
}